@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@500;700;900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #720e1e;
  --color-secondary: #fdfbf7;
  --color-accent: #ffc107;
  --color-dark: #1a1a1a;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-secondary text-gray-900 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}